body{
    background-color : #808B96;
    width: 80%;
    margin: auto;
}

h1{
text-align: center;
text-shadow: 2px 2px #DEB887;
}

section{
text-align: center;
text-shadow: 2px 2px #DEB887;
}

nav{
    display: table;
    width: 100%;
    background-color:#DEB887;
    margin: 3px;

}
nav a{
    display: table-cell;
    width: 3%;
    text-align: center;
}
p{

    color:black;
}

img{
   width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{text-align: center;
    display: table;
    width: 100%;
    background-color:#DEB887;
    margin: 3px;

}