{% extends 'film/main.html' %}


    <title>affichage {{film.titre}}</title>
{% block content %}

    <h1>Résumé du film {{film.titre}}</h1>
    <h2><a class="retour" href="/stream/">Retour</a> </h2>

    <p class="ti">{{film.titre}} paru le {{film.date_parution}},un film d'{{film.cat}} que vous pourriez regarder sur le site {{film.site}}.</p>

        {% load static %}
    <p>
        {{film.resume}}

    </p>
<img src="{{film.imaurl}}">

{% endblock %}

<!-- Voici ma page Affiche des films ou on peut voir le résumer du film ainsi qu'une image de l'affiche du film.-->