{% extends 'film/main.html' %}
    <title>Formulaire de saisi</title>
{% block content %}

<h1>Saisie d'un nouveau film: </h1>
<h2><a href="/stream/indexsite/">Retour à la Bibliothèque</a> </h2>
 <section>
    {% if id == None %}
        <form method="post" action="/stream/revusite/">
     {% else %}
       <form method="post" action="/stream/updaterevusite/{{id}}/">
     {% endif %}
    {% csrf_token%}
    {{form.as_ul}}
      <input type="submit" value="envoyer les données"/>
     </form>

  </section>

{% endblock %}

<!-- Voici ma page Ajout Site c'est la même chose qu'ajout sauf que c'est un site de streaming. Mmmmmhhh pas bête l'artiste ;)-->