<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de saisi</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

 <h1>Saisie d'un nouveau film</h1>
 <nav>
     <a href="https://e-services.uha.fr/fr/index.html">Lien1</a>
     <a href="https://e-services.uha.fr/fr/index.html">Lien2</a>
     <a href="https://e-services.uha.fr/fr/index.html">Lien3</a>
     <a href="https://e-services.uha.fr/fr/index.html">Lien4</a>

 </nav>
 <section>
    {% if id == None %}
        <form method="post" action="/stream/revu/">
     {% else %}
       <form method="post" action="/stream/updaterevu/{{id}}/">
     {% endif %}
    {% csrf_token%}
    {{form.as_ul}}
      <input type="submit" value="envoyer les données"/>
     </form>

  </section>
</body>
</html>