{% extends 'film/main.html' %}
    <title>index</title>
{% block content %}
<body>
<h1> Bienvenue sur la bibliothèque de film: </h1>
<ol>
    {% for l in liste %}
    <li> <p class="ti">Titre: {{l.titre}}</p>
            <p>Écrit par {{l.realisateur}} aparue le {{l.date_parution}},dans la catégorie {{l.cat}} et d'une durée de {{l.dure}} minutes. Pour le résumé click sur affiche ->

            <a href="/stream/affiche/{{l.id}}/">affiche</a>
            <a href="/stream/update/{{l.id}}/">update</a>
            <a href="/stream/delete/{{l.id}}/">delete</a>
          </p>
        </li>
    {% endfor %}
</ol>
</body>
</html>
{% endblock %}

