{% extends 'film/main.html' %}
    <title>index</title>
{% block content %}

<h1> Bienvenue sur la bibliothèque de site: </h1>
<h2><a href="/stream/ajoutsite/">Ajout d'un nouveau site de Streaming</a> </h2>


<ol>
    {% for l in liste %}
    <li> <p class="ti">{{l.titre}}</p>
            <a href="/stream/affichesite/{{l.id}}/">affiche</a>
            <a href="/stream/updatesite/{{l.id}}/">update</a>
            <a href="/stream/deletesite/{{l.id}}/">delete</a>
        </li>
    {% endfor %}
</ol>
{% endblock %}

